body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
    height: 15vh;
    margin: 1vh;
}

#error-span {
    color: red;
}

#weather-card {
    border: 1px solid rgb(121, 112, 112);
    width: 45%;
    height: 35%;
    text-align: center;
    border-radius: 5px;
    color: white;
}

#wrapper {
    width: 90vw;
    height: 70vh;
    border: 1px solid rgb(109, 105, 105);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.warm {
    /* background-color: rgb(247, 247, 149); */
    background-image: url('./sunny.jpg');
    background-size: cover;
}

.cold {
    /* background-color: rgb(120, 155, 219); */
    background-image: url('./cold.jpg');
    background-size: contain;
}